{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false
  },
  "extends": [
    "standard"
  ],
  "rules": {}
}